@model HistoryViewModel
@{
    ViewData["Title"] = "History";
}


<table class="table">
    <tr>
        <th>Number1</th>
        <th>Number2</th>
        <th>Result</th>
        <th>Status</th>
        <th>Server Number</th>
        <th>User</th>
    </tr>
    @foreach (var el in Model.Requests)
    {
        <tr>
            <td>@el.Number1</td>
            <td>@el.Number2</td>
            <td>@el.Result</td>
            <td>@el.Status</td>
            <td>@el.ServerNumber</td>
            <td>@el.User</td>
        </tr>
    }
   

</table>